.bus-icon {
  background-color: tomato;
  cursor:pointer;
}
.reload-button {
  position:fixed;
  bottom:1rem;
  left:0;
  margin:4px;
  color:red;
}

md-toolbar {
  height:2rem;
}
ng-map {
  position:fixed;
  height: 92%;
  width:100%;
}
form {
  padding-left:4px;
  padding-right:4px;
  padding-top:1.5rem;

}
